{
  "extends": "loopback",
  "parserOptions": {
    "ecmaVersion": 6
  },
  "rules": {
    "no-unused-vars": "warn",
    "no-undef": "warn",
    "strict": "error",
    "array-bracket-spacing": "warn",
    "arrow-spacing": "warn",
    "camelcase": "error"
  }
}
