{
  "extends": "loopback",
  "parserOptions": {
    "ecmaVersion": 2017
  },
  "rules": {
    "no-unused-vars": "warn",
    "no-var": "error",
    "no-undef": "warn",
    "strict": "error",
    "array-bracket-spacing": "warn",
    "arrow-spacing": "warn",
    "camelcase": "error",
    "comma-dangle": "off"
  }
}
