<h1>Willkommen bei <%= appName %>!</h1>
<p>Jemand hat sich mit dieser E-Mail-Adresse bei uns registriert.
Um den Vorgang abzuschließen, klicken Sie <a href="<%= verifyHref %>">hier</a>.
Sollte sie sich jedoch nie bei uns registriert haben, dann ignorieren Sie diese
E-Mail.
</p>
